
<div class="wrapper-graphics">

  <section class="radar-option">
    <mat-slide-toggle
        (click) ="onRadar()"
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
      RADAR VIEW
    </mat-slide-toggle>
  </section>


<div *ngIf="checked; else radar">
  <app-radar></app-radar>
</div>

<ng-template class="grafico" #radar>
  <div class="grafico" *ngFor="let item of data">
  <app-graphics [data]="item"></app-graphics>
  </div>
</ng-template>

</div>



